*{font-family: sans-serif; 
   color:white;
 } 
 html,body{background-color:#d4c1ba; 
		  background-position: center; 
		  background-size: cover; 
		  height: 180vh;
		  margin: 0;
		  padding: 0;
}
header{ height: 120vh;
		background-position: center; 
		background-size: cover;
}
.menu{
	background-color: #d4c1ba;
	border: 2px solid transparent;
	width: 100vw;
	height: 40vh;
	overflow: hidden;
}

.jay{
	background-color: #d4c1ba;
	border: 2px solid transparent;
	width: 40vw;
	height: 25vh;
	margin-top: 0vh;
	overflow: hidden;
	position: absolute;
	top: 14vh;
	float: left;
}

.jay h1{
	border: 2px solid transparent;
	float: right;
	color: #3d4147;
	font-size: 5vw;
	text-align: right;
	margin-left: 0%;
	margin-bottom: 0%;
	width: 30vw;
	margin-top: 6%;
}

.jay h2{
	border: 2px solid transparent;
	text-align: left;
	color: #3d4147;
	width: 28vw;
	text-align: right;
	font-size: 2vw;
	margin-left: 0vh;
	margin-top: 1vh;
	padding: .5%;
	float: right;
}

.link {
	background-color: #d4c1ba;
	border: 2px solid transparent;
	width: 40vw;
	height: 5vh;
	overflow: hidden;
	position: absolute;
	top: 8vh;
	left: 3vw;
	margin-top: 13%;
	margin-left: 40%;
}

.link a {
	border: 2px solid transparent;
	display: inline-block;
	color: #5d6169;
	font-size: 1.5vw;
	padding: 0%;
	float: bottom;
	padding-left: 2%;
}





.projects{
	border: 2px solid transparent;
	height: 132vh;
	width: 65vw;
	position: absolute;
	top: 45vh;
	left: 18vw;
}
.latest{
	border: 2px solid transparent;
	height: 19vh;
	width: 65vw;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.latest h1{
	font-family: serif;
	font-size: 5.7vw;
	margin-bottom: 0%;
	margin-top: 0%;
	color: #3d4147;
}
.latest hr{
	margin-bottom: 0%;
	color: #3d4147;
	width: 65vw;
}
.one{
	border: 2px solid transparent;
	height: 47vh;
	width: 65vw;
	position: absolute;
	top: 20vh;
}
.show1{
	border: 2px solid transparent;
	width: 30vw;
	height: 45vh;
	float: left;
	background-size: 100% 100%;
	border-radius: 5%;
	background-image: url(../img/section1.jpeg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.right{
	width: 33vw;
	height: 45vh;
	border: 2px solid transparent;
	float: right;
	position: absolute;
	top: 0vh;
	left: 32vw;
}


.circle1{
	width: 32vw;
	height: 16vh;
	border: 2px solid transparent;
	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle1 h1{
	border: 2px solid transparent;
	justify-content: center;
  	align-items: center;
  	border-radius: 100%;
  	text-align: center;
  	display: flex;
  	width: 8vw;
  	height: 15vh;
  	float: left;
  	background-color: #fc4976;
  	overflow: hidden;
  	margin: 0%;
  	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle1 hr{
	color: #3d4147;
	width: 32vw;
	position: absolute;
	top: 16vh;
	left: 0vw;
}


.circle1 h2{
	font-family: serif;
	font-size: 2vw;
	color: #3d4147;
	position: absolute;
	top: 0vh;
	left: 10vw;
}
.text1{
	height: 24vh;
	border: 2px solid transparent;
	position: absolute;
	top: 20vh;
	left: 0vw;
	width: 32vw;
}
.text1 p{
	font-family: serif;
	font-size: 1.5vw;
	margin-top: 0%;
	color: #3d4147;
}
.line{
	height: 1vh;
	width: 100vw;
}
.line hr{
	color: #3d4147;
	width: 65vw;
	margin: 0%;
	position: absolute;
	top: 69vh;
}




.two{
	border: 2px solid transparent;
	height: 47vh;
	width: 65vw;
	position: absolute;
	top: 70vh;
}
.show2{
	border: 2px solid transparent;
	width: 30vw;
	height: 45vh;
	float: left;
	background-size: 100% 100%;
	border-radius: 5%;
	background-image: url(../img/section2.jpg);
	background-repeat: no-repeat;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.right2{
	width: 33vw;
	height: 45vh;
	border: 2px solid transparent;
	float: right;
	position: absolute;
	top: 0vh;
	left: 32vw;
}


.circle2{
	width: 32vw;
	height: 16vh;
	border: 2px solid transparent;
	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle2 h1{
	border: 2px solid transparent;
	justify-content: center;
  	align-items: center;
  	border-radius: 100%;
  	text-align: center;
  	display: flex;
  	width: 8vw;
  	height: 15vh;
  	float: left;
  	background-color: #fc4976;
  	overflow: hidden;
  	margin: 0%;
  	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle2 hr{
	color: #3d4147;
	width: 32vw;
	position: absolute;
	top: 16vh;
	left: 0vw;
}

.circle2 h2{
	font-family: serif;
	font-size: 2vw;
	color: #3d4147;
	position: absolute;
	top: 0vh;
	left: 10vw;
}
.text2{
	height: 24vh;
	border: 2px solid transparent;
	position: absolute;
	top: 20vh;
	left: 0vw;
	width: 32vw;
}
.text2 p{
	font-family: serif;
	font-size: 1.5vw;
	margin-top: 0%;
	color: #3d4147;
}

.three{
	border: 2px solid transparent;
	height: 12vh;
	width: 65vw;
	position: absolute;
	top: 118vh;
}
.three p{
	border: 2px solid transparent;
	float: left;
	height: 6vh;
	width: 50vw;
	margin: 0%;
	color: #3d4147;
	position: absolute;
	top: 2vh;
	font-size: 1.6vw;
} 

.three a{
	border: 2px solid transparent;
	float: right;
	text-align: center;
	font-size: 1vw;
}
.circle {
    border-radius: 100%;        
    background: #fc4976;
    display:inline-block;
    line-height:11vh;
    width: 6vw;
    height: 11vh;
    position: absolute;
    top: 0vh;
    left: 57vw;
}


@media screen and (max-width: 614px){
body{
	height: 160vh;
}
header{
	height: 100vh;
}
.menu{
	border: 2px solid transparent;
	width: 100vw;
	height: 20vh;
	overflow: visible;
	position: absolute;
	top: 1vh;
}
.link {
	border: 2px solid transparent;
	width: 95vw;
	height: 5vh;
	margin-top: 0%;
	margin-left: 0%;
	position: absolute;
	top: 2vh;
}
.link a {
	border: 2px solid transparent;
	display: inline-block;
	color: #5d6169;
	font-size: 4.3vw;
	padding: 0%;
	position: center;
	padding-left: 2vw;
}
.jay{
	border: 2px solid transparent;
	width: 100vw;
	height: 13vh;
	float: center;
	position: absolute;
	top: 8vh;
}

.jay h1{
	border: 2px solid transparent;
	font-size: 14vw;
	text-align: center;
	margin-top: 0vh;
	margin-left: 0%;
	margin-bottom: 0%;
	margin-top: 0%; 
	width: 100vw;
	position: absolute;
	left: 2vw;
	top: 0vh;
}
.jay h2{
	border: 2px solid transparent;
	width: 95vw;
	text-align: center;
	float: right;
	font-size: 5vw;
	margin-left: 0%;
	margin-top: 1%;
	padding: .5%;
	position: absolute;
	left: 2vw;
	top: 8vh;
}

.projects{
	border: 2px solid transparent;
	height: 155vh;
	width: 99vw;
	position: absolute;
	top: 25vh;
	left: 0vw;
}
.latest{
	border: 2px solid transparent;
	height: 20vh;
	width: 99vw;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.latest h1{
	font-family: serif;
	font-size: 12vw;
	margin-bottom: 0%;
	margin-top: 0%;
	color: #3d4147;
	text-align: center;
}
.latest hr{
	margin-bottom: 0%;
	color: #3d4147;
	width: 99vw;
	position: absolute;
	top: 19vh;
}
.one{
	border: 2px solid transparent;
	height: 50vh;
	width: 99vw;
	position: absolute;
	top: 22vh;
}
.show1{
	border: 2px solid transparent;
	width: 0vw;
	height: 0vh;
	display: none;
}
.right{
	width: 99vw;
	height: 50vh;
	border: 2px solid transparent;
	float: right;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.circle1{
	width: 99vw;
	height: 11vh;
	border: 2px solid transparent;
	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle1 h1{
  	width: 0vw;
  	height: 0vh;
  	display: none;
}
.circle1 hr{
	color: #3d4147;
	width: 99vw;
	position: absolute;
	top: 10vh;
	left: 0vw;
}
.circle1 h2{
	font-family: serif;
	font-size: 7vw;
	color: #3d4147;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.text1{
	height: 35vh;
	border: 2px solid transparent;
	position: absolute;
	top: 13vh;
	left: 0vw;
	width: 99vw;
}
.text1 p{
	font-family: serif;
	font-size: 6vw;
	margin-top: 0%;
	color: #3d4147;
}
.line{
	height: 1vh;
	width: 100vw;
}
.line hr{
	color: #3d4147;
	width: 99vw;
	margin: 0%;
	position: absolute;
	top: 75vh;
}

.two{
	border: 2px solid transparent;
	height: 55vh;
	width: 99vw;
	position: absolute;
	top: 75vh;
}
.show2{
	border: 2px solid transparent;
	width: 0vw;
	height: 0vh;
	display: none;
}
.right2{
	width: 99vw;
	height: 55vh;
	border: 2px solid transparent;
	float: right;
	position: absolute;
	top: 0vh;
	left: 0vw;
}


.circle2{
	width: 99vw;
	height: 11vh;
	border: 2px solid transparent;
	position: absolute;
  	top: 0vh;
  	left: 0vw;
}
.circle2 h1{
	width: 0vw;
  	height: 0vh;
  	display: none;
}
.circle2 hr{
	color: #3d4147;
	width: 99vw;
	position: absolute;
	top: 10vh;
	left: 0vw;
}

.circle2 h2{
	font-family: serif;
	font-size: 7vw;
	color: #3d4147;
	position: absolute;
	top: 0vh;
	left: 0vw;
}
.text2{
	height: 35vh;
	border: 2px solid transparent;
	position: absolute;
	top: 13vh;
	left: 0vw;
	width: 99vw;
}
.text2 p{
	font-family: serif;
	font-size: 6vw;
	margin-top: 0%;
	color: #3d4147;
}
.three{
	border: 2px solid transparent;
	height: 20vh;
	width: 99vw;
	position: absolute;
	top: 132vh;
}
.three p{
	border: 2px solid transparent;
	float: left;
	height: 5vh;
	width: 99vw;
	margin: 0%;
	color: #3d4147;
	position: absolute;
	top: 0vh;
	font-size: 4.2vw;
} 

.three a{
	border: 2px solid transparent;
	float: right;
	text-align: center;
	font-size: 3vw;
}
.circle {
    border-radius: 100%;        
    background: #fc4976;
    display:inline-block;
    line-height:13vh;
    width: 20vw;
    height: 13vh;
    position: absolute;
    top: 6vh;
    left: 38vw;
}

}