/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes 
section{
    padding: 100px 0;
}

.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
*/
#navCollapse {
    background-color: black;
}
#navCollapse .container .navbar-brand {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

#navCollapse .container .navbar-brand .last{
    color: red;
    font-size: 35px;
    font-weight: 600;
}

.nav-link{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

/* home section styling */
.home{
    display: flex;
    background: url("images/homeBack.jpg") no-repeat center;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 .typing{
    color: red;
    font-weight: 500;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.home .home-content a{
    display: inline-block;
    background: red;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: red;
    background: none;
}

#about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#about .aboutSection {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#about .text-center {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

#about .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#about .info .img {
    width: 45%;
    margin-bottom: 10%;
}

#about .info .img img{
    height: 450px;
    width: 450px;
    object-fit: contain;
    border-radius: 6px;
}

#about .info .text {
    width: 50%;
    text-align: justify;
    margin-bottom: 10%;
}

#about .info .text p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

#skills {
    background: #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#skills .skillsSection {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
#skills .text-center {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
#skills .info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#skills .info .text {
    width: 49%;
    margin-bottom: 10%;
}

#skills .info .skillsBar {
    width: 48%;
    text-align: justify;
    margin-bottom: 10%;
}

#skills .skillsSection .info .title{
    color: white;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
#skills .skillsSection .info p{
    font-size: 20px;
    color: white;
    text-align: justify;
}

.details{
    color: white;
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}
.bar{
    position: relative;

    border: 2px solid red;

    border-radius: 20px;

}
.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: red;

}
.skills:not(:last-child){
    margin-bottom: 30px;
}

#web-bar{
    animation: web-fill 2s forwards;
}
@keyframes web-fill{
    100%{
        width: 80%;
    }
}

#java-bar{
    animation: java-fill 2s forwards;
}
@keyframes java-fill{
    100%{
        width: 90%;
    }
}

#javascript-bar{
    animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
    100%{
        width: 80%;
    }
}

#react-bar{
    animation: react-fill 2s forwards;
}
@keyframes react-fill{
    100%{
        width: 60%;
    }
}

#cpp-bar{
    animation: cpp-fill 2s forwards;
}
@keyframes cpp-fill{
    100%{
        width: 70%;
    }
}

#cSharp-bar{
    animation: cSharp-fill 2s forwards;
}
@keyframes cSharp-fill{
    100%{
        width: 75%;
    }
}

#experience {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#experience .experienceSection {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#experience .text-center {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.experience .experienceSection .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.experience .experienceSection .content .card{
    width: 40%;
    height: 600px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    margin: 5%;
}

.experience .experienceSection .content .card1{
    width: 40%;
    height: 600px;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    margin-left: 30%;
    margin-bottom: 5%;
    margin-top: 0%;
}

.experience .experienceSection .content .card .box img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 6px;
}

.experience .experienceSection .content .card .box .text{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 5%;
}

.experience .experienceSection .content .card .box .company{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-top: 2%;
}

.experience .experienceSection .content .card .box .time{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 2%;
}

.experience .experienceSection .content .card .box p{
    font-size: 17px;
    font-weight: 350;
    color: white;
    margin-top: 2%;
}

.experience .experienceSection .content .card1 .box img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 6px;
}

.experience .experienceSection .content .card1 .box .text{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-top: 5%;
}

.experience .experienceSection .content .card1 .box .company{
    font-size: 25px;
    font-weight: 500;
    color: white;
    margin-top: 2%;
}

.experience .experienceSection .content .card1 .box .time{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 2%;
}

.experience .experienceSection .content .card1 .box p{
    font-size: 17px;
    font-weight: 350;
    color: white;
    margin-top: 2%;
}

#projects {
    background: #111;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#projects .projectsSection {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#projects .text-center {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.projects .projectsSection .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
    margin-top: 5%;
}

.projects .projectsSection .content .card{
    width: 30%;
    height: 450px;
    background: #e0d7d7;
    text-align: center;
    border-radius: 6px;
    padding: 0px 0px;
    margin: 1%;
}

.projects .projectsSection .content .card .box img{
    width: 100%;
    height: 70%;
    border-radius: 6px;
}

.projects .projectsSection .content .card .box .name{
    font-size: 35px;
    font-weight: 600;
    color: #111;
    margin-top: 2%;
}

.projects .projectsSection .content .card .box .text{
    font-size: 15px;
    font-weight: 500;
    color: #111;
    margin-top: 2%;
}

#contact {
    background: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#contact .contactSection {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

#contact .text-center {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    color: red;
    margin-top: 20px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

.contact .contactSection .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5%;
}

.contact .contactSection .content .textSection{
    width: 49%;
    margin-bottom: 10%;
}

.contact .contactSection .content .textSection .text{
    font-size: 25px;
    font-weight: 600;
}

.contact .contactSection .content .textSection p{
    font-size: 17px;
    font-weight: 350;
}

.contact .contactSection .content .textSection .icons{
    margin: 10px 0;
    
}

.contact .contactSection .content .textSection .icons .row{
    height: 65px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contactSection .content .textSection .icons .row i{
    width: 10%;
    height: 100%;
    font-size: 35px;
    padding-top: 3%;
    color: crimson;
}

.contact .contactSection .content .textSection .icons .row .info{
    width: 90%;
}

.contact .contactSection .content .textSection .icons .row .info .head{
    font-size: 20px;
    font-weight: 500;
    margin-top: 0%;
}
.contact .contactSection .content .textSection .icons .row .info .sub-title{
    color: #333;
}

.contact .contactSection .content .contactForm{
    width: 49%;
    height: 300px;
    margin-bottom: 10%;
}

.contact .contactSection .content .contactForm .text{
    font-size: 25px;
    font-weight: 600;
}

.contact .contactSection .content .contactForm form .field input:focus,
.contact .contactSection .content .contactForm form .textarea textarea:focus{
    border-color: #b3b3b3;
}

.contact .contactSection .content .contactForm form .fields{
    display: flex;
}

.contact .contactSection .content .contactForm form .fields .field,
.contact .contactSection .content .contactForm form .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .contactSection .content .contactForm form .field input{
    height: 45px;
    width: 99%;
    margin-bottom: 15px;
    margin-right: 2%;
}

.contact .contactSection .content .contactForm form .fields input{
    height: 45px;
    width: 98%;
    margin-bottom: 15px;
    margin-right: 2%;
}

.contact .contactSection .content .contactForm form .textarea textarea{
    height: 80px;
    width: 99%;
    resize: none;
}

.contact .contactSection .content .contactForm form .button-area{
  display: flex;
  align-items: center;
  margin-top: 10%;
}
.contact .contactSection .content .contactForm form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: crimson;
  border: 2px solid crimson;
  transition: all 0.3s ease;
  margin-left: 35%;
}
.contact .contactSection .content .contactForm form .button-area button:hover{
  color: crimson;
  background: none;
}

/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}


/* responsive media query start */
@media (max-width: 1104px) {
    #about .info .img img{
        height: 370px;
        width: 370px;
    }
    #about .info .text p{
        font-size: 16px;
        font-weight: 350;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
    
}
@media (max-width: 940px){
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    #about .aboutSection {
        max-width: 1300px;
        padding: 0 40px;
    }
    #about .info {
        width: 100%;
    }
    #about .info .img{
        width: 100%;
        margin-left: 0%;
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    #about .info .text {
        margin: 0%;
        flex: 100%;
        width: 100%;
    }

    #skills .skillsSection {
        max-width: 1300px;
        padding: 0 40px;
    }

    #skills .skillsSection .info .text{
        width: 100%;
    }
    #skills .skillsSection .info .skillsBar{
        width: 100%;
    }

    .experience .experienceSection .content .card{
        width: 45%;
        height: 500px;
        margin: 2%;
    }

    .experience .experienceSection .content .card .box img{
        max-width: 90px;
        max-height: 90px;
        border-radius: 5px;
    }
    
    .experience .experienceSection .content .card .box .text{
        font-size: 25px;
        font-weight: 550;
    }
    
    .experience .experienceSection .content .card .box .company{
        font-size: 21px;
        font-weight: 500;
    }
    
    .experience .experienceSection .content .card .box .time{
        font-size: 18px;
        font-weight: 400;
    }
    
    .experience .experienceSection .content .card .box p{
        font-size: 15px;
        font-weight: 350;
    }

    .experience .experienceSection .content .card1{
        width: 45%;
        height: 500px;
        margin-left: 27%;
        margin-bottom: 2%;
    }

    .experience .experienceSection .content .card1 .box img{
        max-width: 90px;
        max-height: 90px;
        border-radius: 5px;
    }
    
    .experience .experienceSection .content .card1 .box .text{
        font-size: 25px;
        font-weight: 550;
    }
    
    .experience .experienceSection .content .card1 .box .company{
        font-size: 21px;
        font-weight: 500;
    }
    
    .experience .experienceSection .content .card1 .box .time{
        font-size: 18px;
        font-weight: 400;
    }
    
    .experience .experienceSection .content .card1 .box p{
        font-size: 15px;
        font-weight: 350;
    }

    .projects .projectsSection .content .card{
        width: 100%;
        height: 500px;
        margin-top: 2%;
    }
    
    .projects .projectsSection .content .card .box img{
        width: 100%;
        height: 50%;
    }
    
    .projects .projectsSection .content .card .box .name{
        font-size: 35px;
        font-weight: 600;
    }
    
    .projects .projectsSection .content .card .box .text{
        font-size: 15px;
        font-weight: 500;
    }

    .contact .contactSection .content .contactForm{
        width: 100%;
        height: 300px;
        margin-bottom: 10%;
    }

    .contact .contactSection .content .textSection{
        width: 100%;
        height: 300px;
        margin-bottom: 10%;
    }

}

@media (max-width: 690px) {
    .home .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
    .experience .experienceSection .content .card{
        width: 100%;
        height: 500px;
        background: #222;
        text-align: center;
        border-radius: 6px;
        padding: 50px 25px;
        margin: 5%;
    }
    .experience .experienceSection .content .card1{
        width: 100%;
        height: 500px;
        background: #222;
        text-align: center;
        border-radius: 6px;
        padding: 50px 25px;
        margin: 5%;
    }
    #experience .experienceSection {
        max-width: 1300px;
        padding: 0 30px;
    }
    #projects .projectsSection {
        max-width: 1300px;
        padding: 0 30px;
    }
    #contact .contactSection {
        max-width: 1300px;
        padding: 0 30px;
    }

    .projects .projectsSection .content .card{
        width: 100%;
        height: 400px;
    }
}

@media (max-width: 500px) {

    #about .info .img img{
        height: 300px;
        width: 300px;
    }
    #about .aboutSection {
        max-width: 930px;
    }

    #skills .skillsSection .info .title{
        font-size: 20px;
    }
    #skills .skillsSection .info p{
        font-size: 15px;
    }

    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }

    .contact .contactSection .content .textSection .icons .row .info .head{
        font-size: 15px;
        font-weight: 500;
        margin-top: 0%;
    }

    .contact .contactSection .content .contactForm{
        width: 100%;
        height: 350px;
        margin-bottom: 10%;
    }

    .contact .contactSection .content .textSection{
        width: 100%;
        height: 350px;
        margin-bottom: 10%;
    }

    .contact .contactSection .content .contactForm form .button-area{
        display: flex;
        align-items: center;
        margin-top: 15%;
    }

    .contact .contactSection .content .contactForm form .button-area button{
        margin-left: 30%;
    }

    .contact .contactSection .content .textSection .icons .row i{
        width: 8%;
        height: 100%;
        font-size: 30px;
    }
}
